<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Про сайт</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Про сайт</h1>

<nav>
    <a href="/">Головна</a> |
    <a href="/schedule">План тренувань</a> |
    <a href="/about">Про сайт</a>
</nav>

<hr>

<p>
    Workout Tracker — це навчальний Flask-проєкт.
</p>

<p>
    Його мета — показати приклад використання маршрутів,
    HTML-шаблонів та передачі даних із Python у вебсторінку.
</p>

</body>
</html>